@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.header {
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  background-color: $primaryColor;
  .home_icon {
    margin-right: 30px;
    width: 35px;
  }
  .theme_icon {
    margin-right: 30px;
    width: 30px;
  }

}

.light {
  background-color: $secondaryColor;
}

.dark {
  background-color: $primaryColor;
  fill: $secondaryColor
}
