@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.speakingClock {
  min-height: 90vh;
  position: relative;
  color: $primaryColor;
  background-color: $secondaryColor;

  &.dark {
    color: $secondaryColor;
    background-color: $primaryColor
  }

  .clockBlock {
    background-color: transparent;
    @include flex(flex, center, center, column);
    gap: 30px;

    .clocks {
      position: absolute;
      bottom: 50%;



    }


    .dateAndModeContainer {
      position: absolute;
      @include flex(flex, center, center, column);
      gap: 10px;
      bottom: 40%;
    }
  }
}


