@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.timer {
  min-height: 90vh;
  @include flex(flex, center, center);
  background-color: $secondaryColor;

  &.dark {
    background-color: $primaryColor;
  }

  .timerBlock {
    @include flex(flex, center, center, column);
    gap: 50px;
    background-color:$secondaryColor;
    &.dark {
      background-color: $primaryColor;
    }
    .progressbar {
      width: 100%;
    }

    .controlButtons {
      @include flex(flex, center);
      gap: 20px;
      background-color: $secondaryColor;

      &.dark {
        background-color: $primaryColor;
      }

      .controlButton {
        @include fontFamily('Montserrat', 600, 22px, 27px, $secondaryColor);
        padding: 10px;
        border-radius: 5%;
        color: $secondaryColor;
        background-color: $primaryColor;
        border: 2px solid $primaryColor;

        &.dark {
          @include fontFamily('Montserrat', 600, 22px, 27px, $primaryColor);
          background-color: $secondaryColor;
          border: 2px solid $secondaryColor;

          &:hover {
            color: $secondaryColor;
            background-color: $primaryColor;
          }
        }

        &:hover {
          color: $primaryColor;
          background-color: $secondaryColor;
        }
      }
    }
    .changeValueButtons {
      @include flex(flex);
      border-radius: 5%;
      gap: 10px;
      padding-top: 20px;
      background-color: $secondaryColor;
      &.dark {
        background-color: $primaryColor;
      }
      .changeValueButton {
        @include fontFamily('Montserrat', 600, 22px, 27px, $secondaryColor);
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        background-color: $primaryColor;
        border: 2px solid $primaryColor;
        &.dark {
          @include fontFamily('Montserrat', 600, 22px, 27px, $primaryColor);
          background-color: $secondaryColor;
          border: 2px solid $secondaryColor;
        }
        &:hover {
          color: $primaryColor;
          background-color: $secondaryColor;
        }
        &:hover.dark {
          color: $secondaryColor;
          background-color: $primaryColor;
        }
      }
    }
  }
}










