@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.main_container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .quotes {
    font-size: 22px;
    font-style: italic;
    color: $primaryColor;
  }

  .links {
    display: flex;
    gap: 20px;

    .link {
      text-decoration: none;
      color: $primaryColor;
      &::after {
        background-color: $primaryColor;
        content: "";
        display: block;
        height: 2px;
        top: 20px;
        transition: width .2s ease-in-out;
        width: 0;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }


}



