@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.stopwatch {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  position: relative;

  &.light {
    background-color: $secondaryColor;

    .stopwatchBlock {
      @include flex(flex, center, center, column);

      .controlButtons {
        margin-top: 50px;
        display: flex;
        gap: 30px;
      }

      .hotkeyInfo {
        &.light {
          display: inline-block;
          margin-top: 15px;
          color: $primaryColor;
          font-size: 15px;
        }
      }
    }
  }

  &.dark {
    background-color: $primaryColor;

    .stopwatchBlock {
      @include flex(flex, center, center, column);

      .controlButtons {
        margin-top: 50px;
        display: flex;
        gap: 30px;
      }

      .hotkeyInfo {
        &.dark {
          display: inline-block;
          margin-top: 15px;
          color: $secondaryColor;
          font-size: 15px;
        }
      }
    }
  }
}
